body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.box {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
}
/*-----------------------------------------------------------------------*/


.employee {
    position: relative;
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.employee:hover {
    background-color: #f9f9f9;
}

.employee .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.info {
    display: none;
    position: absolute;
    top: -15px;
    left: 100px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.info div {
    margin-bottom: 5px;
}



/*-----------------------------------------------------------------------*/

.orgchart .node .content {
    box-sizing: border-box;
    padding: 2px;
    font-size: .625rem;
    border: 1px solid rgba(217, 83, 79, .8);
    border-radius: 0 0 4px 4px;
    text-align: center;
    background-color: #fff;
    color: #333;
    white-space: nowrap;
    height: auto;
}

.orgchart {
    background-image: none;
}

.orgchart .node .content div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.orgchart .lines .leftLine {
    border-left-color: #4E4C58;
}

.orgchart .lines .rightLine {
    border-right-color: #4E4C58;
}

.orgchart .lines .topLine {
    border-top-color: #4E4C58;
}

.orgchart .lines .downLine {
    background-color: #4E4C58;
}

.orgchart .node .title {
    background-color: #4E4C58;
}

.orgchart .node .content {
    border-color: #4E4C58;
}
